@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(172, 170, 170);
    align-items: center;
    box-shadow: 0.1px 0.1px 30px rgb(193, 193, 193);
}
.name{
    margin: 5px;
}
.mine{
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}
li{
    margin: 15px;
}
.mine li a{
    text-decoration: none;
    color: black;
    transition: all ease-in-out 0.3s;
}
.icon a{
    color: black;
    transition: all ease-in-out 0.3s;
}
.icon a:hover svg{
    opacity: 0.5;
}
.icon{
    display: flex;
    align-items: center;
}
.mine li a:hover{
    color: rgb(216, 216, 216);
}
.names{
    text-align: center;
}
.hori{
    width: 4%;
    margin: auto;
    border: 3px solid black;
    opacity: 50;
    border-radius: 5px;
    margin-bottom: 30px;
}
.content{
    width: 75%;
    margin: auto;
}
.head{
    display: flex;
    align-items: center;
}
.cont{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
}
.ing{
    color: rgb(109, 108, 108);
}
.date{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 12px;
}
.para{
    width: 90%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 30px;
}